<div class="col-xs-3">
    <div class="calcbutton" ng-click="clearPrevious()">&larr;</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="clearMemory()">CE</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="clearAll()">C</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="unaryOperation('sqrt')">&#8730;</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-hide="modeBtn == 'Advanced'" ng-click="unaryOperation('factorial')">n!</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-hide="modeBtn == 'Advanced'" ng-click="unaryOperation('sin')">sin</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-hide="modeBtn == 'Advanced'" ng-click="unaryOperation('cos')">cos</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-hide="modeBtn == 'Advanced'" ng-click="unaryOperation('pow')">x&#xb2;</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(7)">7</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(8)">8</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(9)">9</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="binaryOperation('+')">+</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(4)">4</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(5)">5</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(6)">6</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="binaryOperation('-')">-</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(1)">1</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(2)">2</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(3)">3</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="binaryOperation('*')">&times;</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton(0)">0</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="numberButton('.')">.</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton" ng-click="calculate()">=</div>
</div>
<div class="col-xs-3">
    <div class="calcbutton bottom" ng-click="binaryOperation('/')">&divide;</div>
</div>